$purple:#4D44B5;
$txt-color:#303972;
$icon-color:#A098AE;
$icon-bg-color:#C1BBEB;
$foods-lable-color:#363B64;


$page-title-color:$txt-color;
$user-text:$txt-color;
$header-right-navicon-color:$icon-color;
$card-title-color:$txt-color;
$card-icon-color:$purple;
$card-item-icon-color:$icon-bg-color;
$card-item-label-color:$txt-color;
$card-item-icon-border-color:$icon-color;
$card-item-sub-title-color:$icon-color;
$card-lable-color:$icon-color;

$card-item-bg-color:$icon-bg-color;
$foods-card-item-label-color:$foods-lable-color;
$foods-card-item-sub-title-color:$txt-color;

$page-title-font-size: 20px;