// @import '../public/assets/css/fonts.scss';
@import './assets/css/fonts.scss';
@import './assets/css/font-family.scss';
@import './assets/css/variables.scss';

body {
  margin: 0;
  font-family: 'poppinsregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F4FF ;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
  font-family: 'poppinsbold';
  font-weight: normal;
  margin: 0px;
}
ul,figure {
  padding: 0px;
  margin: 0px;
}
strong {
  font-weight: normal;
  font-family: 'poppinssemibold';
}
ul {
  list-style: none;
}
html,body,#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex: 2;
}
.app-sidebar {
  flex: 1 0 250px;
  background-color: $purple;
  min-height: 100%;
  padding: 20px 0 0 20px;
  color: #fff;
}
.app-content {
  flex: 1 1 100%;
}
.logo-block {
  display: flex;
  color: #fff;
  
  a {
    display: flex;
    align-items: center;
  }
  figure {
    margin: 0px;
  }
  strong {
    font-size: 22px;
    margin: 0 0 0 15px;
  }
}

.side-nav-menus {
  padding-top: 40px;
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      a {
        text-decoration: none;
        color: #C1BBEB;
        font-size: 14px;
        font-family: 'poppinsmedium';
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px 0 10px 26px;
        border-radius: 40px 0 0 40px;
        &.active {
          background-color: #fff;
          color: $purple
        }
        span {
          &:last-child {
            padding-top: 8px;
          }
          
        }
      }
      .menu-icon {
        font-size: 26px;
      }
    }
  }
}
.sidenav-footer {
  padding-top: 100px;
  p{
    &:first-child {
      font-size: 14px;
      font-family: 'poppinsbold';
    }
    &:last-child{
      font-size: 14px;
      span {
        color: red;
        font-size: 16px
      };
    }
  }
}



.search-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0 15px;
  .search-box-icon {
    font-size: 20px;
    color: #4D44B5;
    margin-right: 10px;
  }
  input {
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'poppinsregular';
    color: #A098AE;
    flex: 1;
    padding: 15px 10px;
  }
}
.page-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .page-title {
    font-size: $page-title-font-size;
    font-family: 'poppinsbold';
    color: $page-title-color;
    margin: 0px;
  }
}
.dashboard-page {
  display: flex;
  &-left-block {
    padding: 15px;
    flex: 1;
  }
  &-right-block {
   background-color: #FDFAFC;
   width: 300px; 
   padding: 15px;
  }
}


.header-right-nav-common-css{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.header-right-nav {
   ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    li {
      span[class*="icon-"] {
        font-size: 18px;
        color: $header-right-navicon-color;
      }
    }
   }
   &-bell-icon,&-settings-icon{
  
    border: 1px solid #d0d0d1;
    @extend .header-right-nav-common-css;
   }
   .user-block {
    display: flex;
    align-items: center;
    gap: 15px;
    figure {
      background-color: #C1BBEB;
      @extend .header-right-nav-common-css;
      span {
        color: #000 !important;
      }
    }
    &-names {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-align: right;
      strong {
        color: $user-text;
      }
    }
   }
   &-icons-block {
    display: flex;
    align-items: center;
    gap: 12px;
   }
}
.section-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .card-title {
    color: $card-title-color;
    font-size: 18px;
  }
  .add-students-icon {
    width: 30px;
    height: 30px;
    font-size: 12px;
    background-color: $card-icon-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
      font-size: inherit;
      color: #fff;
    }
  }
}

.section-list-totle {
  padding: 5px 0;
  color: $card-lable-color;
  font-size: 12px;
}
.students-block {
  padding-top: 30px;
  .email-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $card-item-icon-border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $card-item-icon-color;
  }
  .card-list-wrapper {
    padding-top: 20px;
  }
}


.card-list {
  &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      &-foods{
        margin-bottom: 30px;
      }
      &-foods-thumbnail{
        width: 100%;
        border-radius: 10px;
        min-height: 130px;
        background-color: $card-item-bg-color;
      }
      &-foods-content{
        padding-top: 15px;
        strong {
          font-size: 13px;
          color: $foods-card-item-label-color;
        }
        div {
          font-size: 12px;
          color: $foods-card-item-sub-title-color;
        }
      }
  }
  &-content-block {
    display: flex;
    align-items: center;
    gap: 10px;
    figure {
      width: 30px;
      height: 30px;
      background-color: $card-item-icon-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    section {
      strong {
        font-size: 13px;
        color: $card-item-label-color;
      }
      div {
        font-size: 11px;
        color: $card-item-sub-title-color;
        padding-top: 5px;
      }
    }
  }
}
.message-block {
  .time-block {
    font-size: 12px;
    color: $card-item-label-color;
  }
  .section-title-block {
   padding: 20px 0;
  }
}

.btn {
 padding: 10px 15px;
 border-radius: 30px;
 border: none;
 outline: none;
 background-color:rgba(77, 68, 181, 10%);
 color: $purple;
 font-family: 'poppinssemibold';
 font-size: 12px;
 cursor: pointer;
 &.full {
  width: 100%;
 }
}
.current-foods-block {
  padding-top: 30px;
  .section-title-block {
    padding-bottom: 15px;
  }
}

.content {
  padding-top: 20px;
}
.category-block {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  .category-item {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    figure {
      background-color: $category-icon-color;
      width: 42px;
      height: 42px;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 20px;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        color: $category-label-color;
        font-size: 14px;
        // line-height: 26 px;
      }
      strong {
        color: $category-total-color;
        font-size: 18px;
        font-family: 'poppinsbold';
      };
    }
  }
}
.performance-chart {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  h3 {
    font-size: $block-title-font-size;
    color: $block-title-color;
  }
}
.calendar-finance-block {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  &-item {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
  }
}
.student-table-block {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.form-block {
  padding: 15px 0;
  .form-field-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    .form-group {
        flex: 1;
    }
  }
  
}
.form-block {
  .form-field {
    margin-bottom: 15px;
    label {
      font-size: 14px;
    }
    input {
      border: 1px solid #ccc;
      padding: 5px 10px;
      outline: none;
      border-radius: 4px;
      background-color: #fff;
      &:focus{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
      }
    }
  }
}
.content {
  padding: 15px;
}
.error-field {
  color: red;
  font-size: 14px;
}
.table-grid {
  border-collapse: collapse;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  width: 100%;
  tr{
    td,th {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 8px 12px;
      text-align: left;
    }
  }
}
.table-grid-container {
  background-color: #fff;
}
.contact-icons {
  display: flex;
  gap: 5px;
  span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(77,68,181, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $table-grid-icon-color;
  }
}