// @import '../public/assets/css/fonts.scss';
@import './assets/css/fonts.scss';
@import './assets/css/font-family.scss';
@import './assets/css/variables.scss';

body {
  margin: 0;
  font-family: 'poppinsregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F4FF ;
}
*{
  box-sizing: border-box;
}
ul,figure {
  padding: 0px;
  margin: 0px;
}
strong {
  font-weight: normal;
  font-family: 'poppinssemibold';
}
ul {
  list-style: none;
}
html,body,#root,main {
  height: 100%;
}
.main {
  display: flex;
}
.app-sidebar {
  flex: 1 0 250px;
  background-color: $purple;
  height: 100%;
  padding: 20px 0 0 20px;
  color: #fff;
}
.app-content {
  flex: 1 1 100%;
}
.logo-block {
  display: flex;
  color: #fff;
  
  a {
    display: flex;
    align-items: center;
  }
  figure {
    margin: 0px;
  }
  strong {
    font-size: 22px;
    margin: 0 0 0 15px;
  }
}

.side-nav-menus {
  padding-top: 40px;
  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      a {
        text-decoration: none;
        color: #C1BBEB;
        font-size: 14px;
        font-family: 'poppinsmedium';
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px 0 10px 26px;
        border-radius: 40px 0 0 40px;
        &.active {
          background-color: #fff;
          color: $purple
        }
        span {
          &:last-child {
            padding-top: 8px;
          }
          
        }
      }
      .menu-icon {
        font-size: 26px;
      }
    }
  }
}
.sidenav-footer {
  padding-top: 100px;
  p{
    &:first-child {
      font-size: 14px;
      font-family: 'poppinsbold';
    }
    &:last-child{
      font-size: 14px;
      span {
        color: red;
        font-size: 16px
      };
    }
  }
}



.search-box {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0 15px;
  .search-box-icon {
    font-size: 20px;
    color: #4D44B5;
    margin-right: 10px;
  }
  input {
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'poppinsregular';
    color: #A098AE;
    flex: 1;
    padding: 15px 10px;
  }
}
.page-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .page-title {
    font-size: $page-title-font-size;
    font-family: 'poppinsbold';
    color: $page-title-color;
    margin: 0px;
  }
}
.dashboard-page {
  display: flex;
  &-left-block {
    padding: 15px;
    flex: 1;
  }
  &-right-block {
   background-color: #FDFAFC;
   width: 300px; 
   padding: 15px;
  }
}


.header-right-nav-common-css{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.header-right-nav {
   ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    li {
      span[class*="icon-"] {
        font-size: 18px;
        color: $header-right-navicon-color;
      }
    }
   }
   &-bell-icon,&-settings-icon{
  
    border: 1px solid #d0d0d1;
    @extend .header-right-nav-common-css;
   }
   .user-block {
    display: flex;
    align-items: center;
    gap: 15px;
    figure {
      background-color: #C1BBEB;
      @extend .header-right-nav-common-css;
      span {
        color: #000 !important;
      }
    }
    &-names {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-align: right;
      strong {
        color: $user-text;
      }
    }
   }
   &-icons-block {
    display: flex;
    align-items: center;
    gap: 12px;
   }
}